<div class="scrollable">
    <ul infinite-scroll="$parent.vm.loadMore()" infinite-scroll-parent="scrollable" infinite-list-distance="1">
    <li tabindex="0" class="bc-item clearfix result" id="bc-item-{{$index}}" ng-class="{'expanded': isActive(item) }"
       ng-repeat="item in $parent.vm.results track by $index" ng-click="vm.select(item, $event, $index)">
        <div class="heading">
            <span class="fullname" ng-bind="vm.getFullName(item)"></span><span class="more"></span>
            <div class="locations" ng-bind="vm.getLocations(item)"></div>
        </div>
    </li>
</ul>
    <div class="no-results-found" ng-show="$parent.vm.noresults">There were no results for <b>"{{$parent.vm.query}}"</b>. Please try again.</div>
</div>