<div class="detail-container">
    <div class="return"><a ui-sref="list" ng-keypress="goBack('list')" tabindex="0"><span class="return-arrow"></span> Back to List</a></div>
    <div class="heading">
        <span class="fullname heading" ng-bind="detailCtl.getFullName(detailCtl.item)"></span>
        <span class="crd-number"> <span> (#</span><span ng-bind="detailCtl.item.fields.ac_source_id"></span><span>)</span></span>
    </div>
    <div class="locations">
        <span ng-bind="detailCtl.getLocations(detailCtl.item)"></span>
    </div>
    <div class="details">
        <div class="bc-type detail-item">
            <span class="fullname" ng-bind="detailCtl.getFullName(detailCtl.item)"></span><span> is </span>

            <span ng-show="detailCtl.isBroker(detailCtl.item)"> a <a href= title="{{detailCtl.brokerToolTip}}">registered broker</a>.</span>
            <span ng-show="detailCtl.isInvestmentAdvisor(detailCtl.item)"> an <a href="" title="{{detailCtl.iaToolTip}}">investment advisor.</a></span>
            <span ng-show="detailCtl.isBoth(detailCtl.item)"> both a <a href="" title="{{detailCtl.brokerToolTip}}">registered broker</a> and an <a href="" title="{{detailCtl.iaToolTip}}">investment advisor</a>.</span>
            <span ng-show="detailCtl.isNeither(detailCtl.item)"> neither a <a href="" title="{{detailCtl.brokerToolTip}}">registered broker</a> nor an <a href="" title="{{detailCtl.iaToolTip}}">investment advisor</a>.</span>

            <span class="detail-item">There are <span ng-hide="detailCtl.hasDisclosures(detailCtl.item)"><b>no</b></span> <a href="" title="{{detailCtl.disclosureToolTip}}">disclosures</a> for this individual.</span>

        </div>
    </div>

</div>
<div class="centered">
    <div class="more-link" ng-click="detailCtl.openFullReport(detailCtl.item)" tabindex="0">
        <span class="external-link"></span>
        <span class="link">Get Full Report</span>
    </div>
</div>