<div data-jquery-scrollbar="jqueryScrollbarOptions" class="scrollable">
<ul>
    <li tabindex="0" class="bc-item clearfix result" id="bc-item-{{$index}}"
       ng-repeat="item in searchCtl.results track by $index" ng-click="listCtl.select(item, $event, $index)" ng-keypress="listCtl.select(item, $event, $index)">
        <div class="heading">
            <span class="fullname" ng-bind="listCtl.getFullName(item)"></span><span class="more"></span>
            <div class="locations" ng-bind="listCtl.getLocations(item)"></div>
        </div>
    </li>
</ul>
    <button class="btn btn-default load-more" ng-click="searchCtl.loadMore()" ng-keypress="searchCtl.loadMore()"
            ng-disabled="!searchCtl.hasMore()" ng-show="!searchCtl.isEmpty()" tabindex="0">Load More</button>
    <div class="no-results-found" ng-show="searchCtl.isEmpty()">There were no results for <b>"{{searchCtl.query}}"</b>. Please try again.</div>
</div>

