/**
  Output has Media queries but no .lt-ie9 and .no-mq fallbacks
  https://github.com/Team-Sass/breakpoint/wiki/No-Query-Fallbacks
**/
/*
 * Typography
 * --------------------------------------------------
 * Font, line-height, and color for body text, headings, and more.
 * Mobile first
 */
/*
 * Buttons
 * --------------------------------------------------
 * Mobile first
 */
/*
 * Forms
 * --------------------------------------------------
 * Mobile first
 */
/*
 * Global
 * --------------------------------------------------
 * Base tags with site wide classes
 */
a {
  /* See typography */ }

body {
  /* See typography */ }

button {
  /* See buttons */ }

h1, h2, h3, h4, h4, h6 {
  /* See typography */ }

input[type=submit] {
  /* See buttons */ }

table {
  /* See tables */ }

td {
  /* See tables */ }

th {
  /* See tables */ }

ul {
  /* See lists */ }

/*
 * Lists
 * --------------------------------------------------
 * Mobile first
 */
/*
 * Typography
 * --------------------------------------------------
 * Mobile first
 */
@font-face {
  font-family: 'robotoregular';
  src: url("../../fonts/Roboto-Regular-webfont.eot");
  src: url("../../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../../fonts/Roboto-Bold-webfont.eot");
  src: url("../../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../../fonts/ Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*  Use this file to define widget specific styles. */
body {
  margin: 0;
  padding: 0 4px 4px 0;
  min-width: 235px;
  max-width: 480px;
  min-height: 300px;
  max-height: 480px;
  overflow: hidden; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.widget-container {
  border: solid 1px #51a2da;
  background-color: #51a2da;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 300px;
  min-width: 245px;
  max-width: 480px;
  max-height: 480px; }
  .widget-container ul {
    list-style: none;
    padding: 0;
    margin: 0 1.3em 0 0em; }
    .widget-container ul li {
      padding: .5em 0 .5em .5em;
      border-bottom: solid 1px #80c5fb;
      position: relative; }

.header {
  background-color: white;
  padding: 5px; }

footer {
  text-align: center;
  background-color: #51a2da;
  position: absolute;
  bottom: .5em;
  right: 0;
  padding: 0 1em 2em;
  height: 20px;
  color: white;
  font-size: .9em;
  font-weight: 400; }
  footer a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; }
  footer .separator {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 300; }

.main-view {
  height: 70%; }
  .main-view .main {
    width: 100%;
    margin: 0 auto;
    height: 100%; }

.data-container {
  width: 100%;
  height: 100%; }

.message {
  margin: 1.5em auto 0;
  font-size: 1em;
  background-color: #51a2da;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  height: 100%;
  width: 80%;
  text-align: center; }
  @media (min-width: 20em) {
    .message {
      margin-top: 2em;
      font-size: 1.3em; } }
  @media (min-width: 30em) {
    .message {
      margin: 2em auto 0 auto;
      font-size: 1.3em; } }
  .message .firmname {
    color: white;
    font-weight: 600; }

.search-icon, .external-link, .return-arrow, .more {
  background: url("../../images/bc-sprites.png") no-repeat top left;
  display: inline-block; }

.search-icon {
  width: 16px;
  height: 16px;
  background-position: -5px -78px;
  top: -2px; }

.logo {
  text-align: center;
  margin: 0 auto;
  display: block;
  text-decoration: none; }
  .logo:hover, .logo:visited, .logo:active {
    text-decoration: none;
    border: none; }
  .logo img {
    width: 150px;
    border: none; }
    @media (min-width: 20em) {
      .logo img {
        width: 236px; } }

.more {
  width: 12px;
  height: 12px;
  background-position: -5px -150px;
  position: absolute;
  right: 0;
  top: 35%; }

.external-link {
  width: 20px;
  height: 20px;
  background-position: -5px -114px;
  position: relative;
  top: -5px; }

.return-arrow {
  width: 12px;
  height: 12px;
  background-position: -27px -150px; }

.field-search {
  white-space: nowrap;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: .1em 0 .5em; }
  .field-search .clear {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: .75em;
    top: 5px;
    font-family: arial; }

.search-icon {
  background-position: 0 -73px;
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  /* left: -45px; */
  right: 5%;
  top: 0em;
  border: none; }
  .search-icon:hover {
    cursor: pointer; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.bc-item {
  background-color: #51a2da;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 1em 0 .5em;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .875em;
  color: #fff; }
  .bc-item:hover {
    cursor: pointer; }
  .bc-item .result {
    color: #fff;
    text-decoration: none;
    padding: .3em 0 .3em .5em;
    font-family: Arial, sans-serif;
    font-size: .9em;
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px #fff; }
  .bc-item.expanded .result {
    border-bottom: none;
    background-color: white;
    color: darkblue;
    font-weight: bold; }
  .bc-item.expanded .details {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .7em;
    border-bottom: solid 1px #fff;
    width: 100%;
    padding: .3em 0 .3em .5em;
    background-color: white;
    border: solid 1px white; }

.scrollable {
  min-height: 155px;
  max-height: 155px;
  width: 97%;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative; }

.always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: .7;
  width: 10px;
  border-radius: 1px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 10px;
  opacity: 1;
  border-radius: 2px; }

.ps-container.ps-active-x > .ps-scrollbar-x-rail {
  display: none !important; }

.form-group {
  text-align: right;
  margin-top: 1em; }
  .form-group button {
    background-color: white;
    color: white; }

.fullname, .crd-number {
  font-size: 1.2em; }

.locations {
  font-size: .9em;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif; }

.detail-container {
  width: 95%;
  margin: .5em auto 0 auto;
  color: #fff;
  overflow: hidden;
  height: 12em; }
  .detail-container .fullname, .detail-container .crd-number {
    font-size: 1.1em; }
  @media (min-width: 20em) {
    .detail-container {
      font-weight: 300;
      font-family: "Open Sans", Arial, sans-serif; } }
  .detail-container .detail-item {
    font-family: "Open Sans", Arial, sans-serif;
    margin: .6em 0 .1em;
    font-weight: 200;
    font-size: .95em; }
    @media (min-width: 20em) {
      .detail-container .detail-item {
        font-size: .95em; } }
    .detail-container .detail-item .fullname, .detail-container .detail-item .crd-number {
      font-size: 1em; }
    .detail-container .detail-item a {
      color: white;
      font-weight: bold;
      text-decoration: none; }
      .detail-container .detail-item a:hover {
        color: #265b85; }
  .detail-container .bolder {
    font-weight: 600; }
  .detail-container .heading {
    font-weight: 400; }
  .detail-container .details {
    margin-bottom: .5em; }
  .detail-container .return {
    border-bottom: solid 1px #80c5fb;
    margin-bottom: .5em; }
    .detail-container .return a {
      color: #fff;
      text-decoration: none;
      font-size: 1em;
      font-weight: 500; }
    .detail-container .return a:hover {
      color: #265b85; }

.more-link {
  float: none;
  display: inline-block;
  white-space: nowrap;
  bottom: 0;
  /* top: 1em; */
  height: 28px;
  border-radius: 2px;
  text-align: center;
  background: #ff553a;
  padding: .3em .5em .3em .1em;
  cursor: pointer; }
  @media (min-width: 20em) {
    .more-link {
      padding: 0.3em 2em .3em .9em; } }
  .more-link .link {
    display: inline;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    position: relative;
    top: -5px; }

button.load-more {
  margin-top: .4em;
  margin-bottom: .4em;
  position: absolute;
  right: 1.4em;
  display: inline-block; }

div.animated {
  height: 100%; }

input[type="text"] {
  background-color: #fff;
  display: block;
  border: none;
  height: 30px;
  position: relative;
  width: 97%;
  margin: 0 auto;
  padding: 0 0 0 4%;
  top: .5em;
  color: #777;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 1em;
  vertical-align: top; }

.no-results-found {
  width: 80%;
  margin: 3em auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white; }

.more-arrow {
  position: absolute;
  right: 0;
  font-weight: bold; }

.notation {
  font-weight: 300;
  font-size: .8em;
  font-style: italic; }

li .heading:hover {
  color: #265b85;
  font-weight: 500; }

.centered {
  margin-left: .5em;
  margin-top: -.5em; }
  @media (min-width: 20em) {
    .centered {
      margin-top: -2em; } }

.ng-leave-active {
  display: none; }

::-ms-clear {
  display: none; }
