			#finra-bc-widget.finra-bc-widget {
	                    border-radius: none;	                                                                              
	                    padding: 10px 10px 0 10px;
	                    padding-bottom: 10px;
	                    background: none;
						border:1px solid #d6d6d6;
						border-bottom:none;
	        }
			
			#finra-bc-widget.finra-bc-widget {
						border-radius:none;
						margin-top:0px;
			}

	        #finra-bc-widget.finra-bc-widget .bcHeader {
	                    background-image: url('../imgs/brokercheck-foldover.png');
	                    background-repeat: no-repeat;
	                    margin-top: 0px;
	                    text-indent: -3333px;
	                    position: absolute;
	                    right: 47px;
	                    text-indent: -3333px;
	                    top: -7px;
	                    width: 169px;
	                    height:28px;
	        }

            #finra-bc-widget .finra-bc-widget-common h4 {                                           
            			padding-top:18px;
                        padding-bottom:5px;
                        padding-right:10px;
                        border-bottom:1px solid #e3e3e3;
						margin-left: 2px;
                        margin-bottom:15px;
                        font-weight: normal;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size:12px;
						line-height:20px;
                        color:#000;
            } 

             #finra-bc-widget .finra-bc-widget-common a.showHand{
             			cursor: pointer;
             			cursor: hand;
             			width: 169px;
             }
			
			#finra-bc-widget .autocomplete-container {
						position: relative;
						top: 0;
						margin-top: 0px;
						background:none;
			}
			
			#finra-bc-widget input[type="text"] {
					border-radius:4px;
					width:94%;
					height:20px;
			}
			
			.bcwidgetBottomCover {
						border-right:1px solid #d6d6d6;	
						border-left:1px solid #d6d6d6;	
						border-bottom:1px solid #d6d6d6;
						width:268px;
			}
			
			
			.bcwidgetCover {
					background: url('../imgs/box-bkg.png') no-repeat scroll 0 0 transparent;
					border:none;
			}
		
			#finra-bc-widget .bcCallToAction a,
			#finra-bc-widget .bcCallToAction button {
					-moz-box-shadow: inset 0px 1px 0px 0px #0092c8;
					-webkit-box-shadow: inset 0px 1px 0px 0px #0092c8;
					box-shadow: inset 0px 1px 0px 0px #0092c8;
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #336699), color-stop(1, #3b5984));
					background: -moz-linear-gradient(top, #336699 5%, #3b5984 100%);
					background: -webkit-linear-gradient(top, #336699 5%, #3b5984 100%);
					background: -o-linear-gradient(top, #336699 5%, #3b5984 100%);
					background: -ms-linear-gradient(top, #336699 5%, #3b5984 100%);
					background: linear-gradient(to bottom, #336699 5%, #3b5984 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#336699, endColorstr=#3b5984);
					background-color:#336699;
				   -moz-border-radius: 5px;
				   -webkit-border-radius: 5px;
				   border-radius: 5px;
				   display: inline-block;
				   color: #fff !important;
				   border:none;
				   font-family: arial;
				   font-size: 13px;
				   font-weight: bold;
				   padding: 6px 24px;
				   text-decoration: none;
				   text-shadow: 0px 1px 0px #2a4873;
				   margin: auto;
				   width: 60%;
				   min-width: 120px;
				   max-width: 300px;
			}
			#finra-bc-widget .bcCallToAction a:hover {
  					background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b5984), color-stop(1, #336699));
					background: -moz-linear-gradient(top, #3b5984 5%, #336699 100%);
					background: -webkit-linear-gradient(top, #3b5984 5%, #336699 100%);
					background: -o-linear-gradient(top, #3b5984 5%, #336699 100%);
					background: -ms-linear-gradient(top, #3b5984 5%, #336699 100%);
					background: linear-gradient(to bottom, #3b5984 5%, #336699 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5984', endColorstr='#336699',GradientType=0);
					background-color: #3b5984;
  					color: #fff !important;
  					text-decoration: none;
			}
				
			#finra-bc-widget .bcCallToAction:active {
  				color: #fff;
  				position: relative;
  				top: 1px;
			}
			
			#finra-bc-widget .ui-autocomplete-input-clear {
				top: -32px;
				right: 5px;
				background: url('../imgs/close_icon_internal.png') no-repeat;
			}
			
			.ui-autocomplete .ui-autocomplete-category span{
				background-color:#cee4ed;
				border-top:4px solid #cee4ed;
				width: 40%;
			}
			
			.ui-autocomplete .ui-autocomplete-category span:hover{
				background-color:#cee4ed;
			}			
			
			.ui-autocomplete span.s4_category {					
				background-color: #336699;
				border: 1px solid #336699;
				border-top: 4px solid #336699;
			}
			
			.ui-autocomplete span.s4_category:hover{
					background-color: #336699;
			}
			
			.ui-autocomplete .noResultsLink {
				font-size:1em;
				margin-top:10px;
				text-align: center;
			}

			.ui-autocomplete .noResultsLink a:link {					
				COLOR: #0000FF;
			}

			.ui-autocomplete .noResultsLink a:visited {
				COLOR: #800080;
			}